

@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;  
  font-style: normal;
 
}



* { box-sizing: border-box;
}


:root{
    --bg: #3a1f4c;
    --header:rgba(255,255,255,0.18);
    --text: #ffffff;
    --muted: rgba(255,255,255,.75);
}


body{
  
    margin:0;
    font-family: "Figtree";
    display:flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--text);
}
    

.site-header{
    background: var(--header);
    padding: 20px 40px;
}

.site-header img{
    height: 28px;
    width: auto;
    display: block;
}

.site-main{
    padding-inline: 30px;
  margin-top: 60px;
    flex:1;
  
}

h1{
   text-align: center;
   font-size: 22px;
   font-weight: 750;
   margin-top: 30px;
   margin-bottom: 30px;
}

p{
  color: #fff;
  font-size:16px;
  text-align: center;
}
.gallery-grid li{
  aspect-ratio: 1 / 1;
  border-radius: 8px;
 
}

.gallery-grid{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
 
}

.gallery-grid img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
   border-radius: 8px;
   
}
.gallery-grid img:hover{
    cursor: pointer;
}
.gallery-grid:hover li{
  filter: blur(1px) brightness(0.7);

}

.gallery-grid li:hover{
  filter: blur(0) brightness(1.2);
  transform: scale(1.03);

}

#viewerCount{
  font-family: "Figtree";
}

.lightbox,
#viewer {
  border: none;
  padding: 0;
  background: transparent;    
  max-width: none;
  max-height: none;
          
}


#viewer::backdrop {
  backdrop-filter: blur(10px);
 
}


#viewerImage{
  display: block;
  max-width: min(85vw, 1000px);
  max-height: 75vh;
  min-height: 30vh;       
  object-fit: contain;
 
}

#viewer{
  padding-bottom: 90px; 
  overflow: visible;
}


.viewer-controls-down{
  color:var(--text);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;     
  display: flex;  
  align-items: center;
  gap:20px;

  
}
.viewer-controls-up{
  margin-top:40px;
  color: var(--text);
  display:flex;
  justify-content: space-between;
  align-items: center;


  
}

#closeViewer {
 
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 999px;
  background: rgba(87, 15, 150, 0.521);
  color:var(--text);
 font-size: 18px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(90, 16, 146, 0.35);
}


#skipLeft, #skipRight{

  width: 32px;
  height: 32px;
  border: none;
  border-radius: 99px;
  background: rgba(87, 15, 150, 0.52);
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}



#skipRight:hover{
box-shadow: 0 0 15px var(--bg);
}
#skipLeft:hover{
box-shadow: 0 0 15px var(--bg);
}
#closeViewer:hover{
box-shadow: 0 0 15px var(--bg);
}



.site-footer{
  display: flex;
  align-items: flex-end;
  position: relative;
  background: var(--bg);
  min-height: 300px;        
  padding: 16px;
  display: flex;
  align-items: flex-end;     
  justify-content: center;
  text-align: center;

}

.footer-wave{
  position: absolute;
  inset: 0;                   
  width: 100vw;
  height: 100%;                
  display: block;
  
}
.footer-wave path{
  fill:var(--header)
}

.footer-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap:12px;
}
.footer-logo{
  height: 27px;
  width: auto;
  
}

.site-footer small{
  display: block;
  font-size: 8px;
}
@media (min-width: 600px){
.gallery-grid{
    grid-template-columns: repeat(5, 1fr);
}
}
@media (min-width: 860px){

 #viewerCount{
  font-size: 18px;
}
    .site-header{
        padding:30px 100px;
    }

    h1{
        font-size: 32px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .site-header img{
    height: 48px;
    width: auto;
    display: block;
}

.site-main{
    padding-inline:80px;
}

.gallery-grid{
  
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.site-footer{

  min-height: 500px;  
}
.site-footer small{
  font-size: 16px;
}
.footer-logo{
  height: 50px;
  width: auto;
  
}

  

}


@media (min-width: 1440px){

    .site-header{
        padding:40px 200px;
    }

    h1{
        font-size: 44px;
    }

    .site-header img{
    height: 44px;
    width: auto;
    display: block;
}
#skipLeft, #skipRight{
  height:50px;
  width: 50px;
  font-size: 30px;

}
#closeViewer{
  height: 50px;
  width:50px;
  font-size: 30px;
}
p{
  font-size: 27px;
}
#viewerCount{
  font-size: 27px;
}
.site-footer{

  min-height: 400px;  
}
.site-footer small{
  font-size: 14px;
}
.footer-logo{
  height: 40px;
  width: auto;
  
}

.site-main{
  padding-inline: 200px;
}

  .gallery-grid li{
    min-height: 80px; 
  }

.gallery-grid{

  grid-template-columns: repeat(10, 1fr);

}


}




