

@font-face {
  font-family: "Figtree";
  src: url("./fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 900;  
  font-style: normal;
  font-display: swap;
}



* { box-sizing: border-box;
}


:root{
    --bg: #3a1f4c;
    --header:rgba(255,255,255,0.18);
    --text: #ffffff;
    --muted: rgba(255,255,255,.75);
}

html,body {
    height: 100%;
}

body{
    margin:0;
    font-family: "Figtree";
    display:flex;
    flex-direction: column;
    background: var(--bg);
    color: var(--text);
}
    

.site-header{
    background: var(--header);
    padding: 20px 40px;
}

.site-header img{
    height: 28px;
    width: auto;
    display: block;
}

.site-main{
    padding: 28px 16px 24px;
    flex:1;
    
}

h1{
   text-align: center;
   font-size: 28px;
   font-weight: 750;
   
}



.gallery{
    display:grid;
    place-items: center;
}

.gallery-grid{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 84px);
  gap: 14px;
  justify-content: center;
}

.site-footer{
  position: relative;
  background: var(--bg);
  min-height: 300px;        
  padding: 16px;
  display: flex;
  align-items: flex-end;     
  justify-content: center;
  text-align: center;

}

.footer-wave{
  position: absolute;
  inset: 0;                   
  width: 100vw;
  height: 100%;                
  display: block;
  
}
.footer-wave path{
  fill:var(--header)
}

.footer-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap:12px;
}
.footer-logo{
  height: 32px;
  width: auto;
  
}

.site-footer small{
  display: block;
  font-size: 12px;
}

@media (min-width: 860px){
    .site-header{
        padding:30px 100px;
    }

    h1{
        font-size: 52px;
    }

    .site-header img{
    height: 48px;
    width: auto;
    display: block;
}

.site-footer{

  min-height: 500px;  
}
.site-footer small{
  font-size: 16px;
}
.footer-logo{
  height: 50px;
  width: auto;
  
}
}


@media (min-width: 1460px){
    .site-header{
        padding:40px 300px;
    }

    h1{
        font-size: 70px;
    }

    .site-header img{
    height: 64px;
    width: auto;
    display: block;
}

.site-footer{

  min-height: 600px;  
}
.site-footer small{
  font-size: 18px;
}
.footer-logo{
  height: 70px;
  width: auto;
  
}
}